body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #E5E5F7;
  background: linear-gradient(135deg, #d5d5ed55 25%, transparent 25%) -20px 0/ 40px 40px, linear-gradient(225deg, #d5d5ed 25%, transparent 25%) -20px 0/ 40px 40px, linear-gradient(315deg, #d5d5ed55 25%, transparent 25%) 0px 0/ 40px 40px, linear-gradient(45deg, #d5d5ed 25%, #E5E5F7 25%) 0px 0/ 40px 40px;
}

.container {
  margin: 0 !important;
}

.authorImg {
  height: 90vh;
}

.authorImg img {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.ant-col {
  margin-top: 15px;
}